anyio==3.6.1
argon2-cffi==21.1.0
asgiref==3.4.1
attrs==21.2.0
autopep8==1.6.0
backcall==0.2.0
backports.entry-points-selectable==1.1.1
bcrypt==3.2.0
beautifulsoup4==4.10.0
bitly-api==0.3
bleach==4.1.0
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
click==8.0.4
colorama==0.4.4
cryptography==37.0.2
cycler==0.11.0
debugpy==1.5.0
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.3
Django==4.0
docopt==0.6.2
entrypoints==0.3
fastapi==0.78.0
filelock==3.4.0
Flask==2.0.3
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.10
Flask-Login==0.5.0
Flask-MySQLdb==1.0.1
Flask-SQLAlchemy==2.5.1
fonttools==4.33.3
greenlet==1.1.2
gunicorn==20.1.0
h11==0.13.0
idna==3.3
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.1.0
jedi==0.18.0
Jinja2==3.0.2
jsonschema==4.1.0
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver==1.4.2
MarkupSafe==2.0.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==0.8.4
mysqlclient==2.1.0
nb==0.1.2
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.4
numpy==1.22.4
packaging==21.0
pandocfilters==1.5.0
parso==0.8.2
pickleshare==0.7.5
Pillow==9.1.1
pipenv==2021.11.15
pipreqs==0.4.11
platformdirs==2.4.0
prometheus-client==0.11.0
prompt-toolkit==3.0.20
pycodestyle==2.8.0
pycparser==2.20
pydantic==1.9.0
Pygments==2.10.0
pymongo==4.1.1
pyparsing==2.4.7
pyrsistent==0.18.0
pyshorteners==1.0.1
python-dateutil==2.8.2
pywin32==302
pywinpty==1.1.4
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.1.1
QtPy==1.11.2
requests==2.27.1
Send2Trash==1.8.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
SQLAlchemy==1.4.32
sqlparse==0.4.2
starlette==0.19.1
terminado==0.12.1
testpath==0.5.0
toml==0.10.2
tornado==6.1
traitlets==5.1.0
typing-extensions==4.2.0
tzdata==2021.5
urllib3==1.26.7
uvicorn==0.17.6
virtualenv==20.10.0
virtualenv-clone==0.5.7
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.3
widgetsnbextension==3.5.1
yarg==0.1.9